@keyframes runningMan {
    0%   { transform: translateY(0) scale(1); }
    50%  { transform: translateY(-10px) scale(1.05); }
    100% { transform: translateY(0) scale(1); }
}

@keyframes tStep {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(8px); }
    100% { transform: translateX(0); }
}

@keyframes glide {
    0%   { transform: translateX(-5px); }
    50%  { transform: translateX(5px); }
    100% { transform: translateX(-5px); }
}
